{# Modal de paramétrage des lignes #}
<div class="modal fade" id="parametrageModal" tabindex="-1" aria-labelledby="parametrageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="parametrageModalLabel">
          <i class="bi bi-gear"></i> Paramétrage des lignes
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="parametrageTable" class="table table-bordered align-middle">
            <thead class="table-light">
              <tr>
                <th style="width: 40%">Désignation</th>
                <th style="width: 12%">Quantité</th>
                <th style="width: 16%">Prix unitaire</th>
                <th style="width: 12%">TVA %</th>
                <th style="width: 20%">Total</th>
              </tr>
            </thead>
            <tbody id="parametrageTableBody">
              {# Les lignes seront ajoutées dynamiquement en JS #}
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="parametrageAddRow" class="btn btn-outline-primary">
          <i class="bi bi-plus-circle"></i> Ajouter une ligne
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
